// PATHS
// ------

//$app-root: 'file:///Users/nicolasgans/Library/Application%20Support/Adobe/CEP/extensions/fr.kouma.cmon';
$app-root: 'https://admincmon.c-monetiquette.fr';
$fonts-path: '#{$app-root}/assets/fonts';
$img-path: '#{$app-root}/assets/ui/';

//$img-path: './../assets/ui/';
//$fonts-path: './../assets/fonts';
