@import '../modules/BootstrapBase';

$spacing: 1rem;

$border-color: #828282;

$dark-grey: #404143;

$background-color: #F7F8F9;

$pack-item-description-color: #336A79;

$btn-color: #3A4547;

$input-height-md: 3.9375rem;

$thumb-picto-width: 3.6875rem;

$thumb-forme-width: 6rem;
$thumb-forme-height: 6rem;

$thumb-forme-width-md: 8rem;
$thumb-forme-height-md: 8rem;

// BOX
$preview-box-width: 545px;
$preview-box-height: 548px;
$preview-box-text-width:120px;
$preview-box-text-height:28px;

$btn-selected-border-color: #A8D5D8;